<body class="bg-dark text-light margen p-3" id="aqui">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&display=swap" rel="stylesheet">

  <h1 style=" overflow: hidden;
" id="jonathanAyona"></h1>
  <div class="container my-2">
    <div class="row align-items-center">
      <!-- Columna izquierda: Texto -->
      <div class="col-md-6 ">
        <div class="sobre-mi-texto">

          <h2 class="mono-title">Jonathan Ayona</h2>
        </div>
        <div class="sobre-mi-container">

          <p class="sobre-mi-texto">
            Desarrollador Full Stack con enfoque backend, resiliente y autodidacta, en transición activa hacia roles IT.
            Ingeniero de
            Sistemas. Experiencia en desarrollo de APIs REST con Java y Spring Boot, incluyendo autenticación y
            autorización con
            Spring Security y JWT. Integración de frontend funcional con Angular y JavaScript, y manejo de bases de
            datos relacionales
            (MySQL, PostgreSQL). Capacidad para resolver problemas técnicos (Maven, configuración de proyectos,
            despliegue de
            microservicios), y aprendizaje adaptativo enfocado en buenas prácticas y arquitectura de sistemas.
          </p>
          <a href="pdfs/curriculum/CurriculumJonathanAyonaActualizado.pdf" download
            class="btn btn-success btn-lg mt-3 custom-btn" style="margin-bottom: 15px;">
            <i class="fas fa-download" style="margin-bottom: 3px;">


            </i> Descargar CV
          </a>
        </div>




      </div>

      <!-- Columna derecha: Imagen -->
      <div class="sobre-mi-container col-md-6 text-center">
        <img src="img/jonathan_ayona.png" alt="Foto de Jonathan" class="img-fluid rounded-circle shadow sobre-mi-texto">
      </div>
    </div>


    <div id="Skills" class="my-4 sepacionnav">

      <div class="text-center">
        <h2 class="mono-title mb-4">Stack Tecnológico</h2>

        <div class="row justify-content-center">
          <div class="col-6 col-md-2 mb-3">
            <i class="fab fa-java fa-2x"></i><br>Java
          </div>
          <div class="col-6 col-md-2 mb-3">
            <i class="fab fa-js fa-2x"></i><br>JavaScript
          </div>
          <div class="col-6 col-md-2 mb-3">
            <i class="fas fa-code fa-2x"></i><br>TypeScript
          </div>
          <div class="col-6 col-md-2 mb-3">
            <i class="fab fa-angular fa-2x"></i><br>Angular
          </div>
          <div class="col-6 col-md-2 mb-3">
            <i class="fas fa-database fa-2x"></i><br>MySQL
          </div>
          <div class="col-6 col-md-2 mb-3">
            <i class="fab fa-git-alt fa-2x"></i><br>Git
          </div>
          <div class="col-6 col-md-2 mb-3">
            <i class="fab fa-bootstrap fa-2x"></i><br>Bootstrap
          </div>
          <div class="col-6 col-md-2 mb-3">
            <i class="fas fa-leaf fa-2x"></i><br>Spring Boot
          </div>
          <div class="col-6 col-md-2 mb-3">
            <i class="fas fa-database fa-2x"></i><br>PostgreSQL
          </div>
        </div>
      </div>
      <!-- Sección de Proyectos -->

    </div>

    <div class="container m-2  sepacionnav" id="Proyectos">

      <div class="text-center ">
        <h2 class="mono-title mb-4">Proyectos</h2>

      </div>
      <div class="card  p-4  bg-dark text-light card-brillante ">

        <div class="row align-items-start">
          <!-- Texto a la izquierda -->
          <div class="col-md-6 my-4">
            <h2 class="fw-bold">Sistema de Gestión Administrativa para el control de productos a través de código QR en
              Rey Mueblería</h2>
            <p>
              Aplicación web desarrollada con arquitectura de tres capas: interfaz de usuario, lógica de negocio y base
              de
              datos. Está orientada a optimizar el control de inventario mediante el uso de códigos QR únicos para cada
              producto.<br>
              El sistema permite:<br>
              - 🏷️ Generar códigos QR para identificar productos de forma rápida y segura.<br>
              - 📲 Registrar entradas y salidas de productos en tiempo real.<br>
              - 📁 Administrar el inventario con trazabilidad completa de cada movimiento.<br>
              - 👤 Gestionar usuarios y permisos para operar el sistema de forma controlada.<br>
              Diseñado para entornos que requieren eficiencia, orden y control logístico, esta solución se adapta a
              distintos tipos de organizaciones que manejan productos físicos y necesitan visibilidad sobre su flujo
              operativo
            </p>
            <div class="row justify-content-center">
              <div class="d-flex justify-content-center ">
                <div class="col-4">
                  <a href="https://github.com/JJAS-DEV/Api_SistemaDeInventario" target="_blank"
                    class="btn btn-success btn-sm custom-btn">
                    <i class="fab fa-github me-2"></i> Backend
                  </a>
                </div>
                <div class="col-4">
                  <a href="https://github.com/JJAS-DEV/SistemaDEInventario-Frontend" target="_blank"
                    class="btn btn-success btn-sm custom-btn">
                    <i class="fab fa-github me-2"></i> Frontend
                  </a>
                </div>

                <div class="col-4">
                  <a href="pdfs/manual_De_Usuario/manual_de_usuario.pdf" download
                    class="btn btn-success btn-sm custom-btn  me-2">
                    <i class="fas fa-user"></i> manual de usuario
                  </a>
                </div>

              </div>
            </div>



          </div>

          <!-- Bloque de fotos a la derecha -->
          <div class="col-md-6">
            <div class="container text-center my-4">
              <div class="card shadow bg-dark text-light">
                <img [src]="fotos[indiceActual]" class="card-img-top img-fluid" style="width: 600px; height: 250px;"
                  alt="Foto actual" />
                <div class="card-body">
                  <button class="btn btn-outline-primary me-2" (click)="anteriorFoto()">
                    <i class="fas fa-arrow-left me-1"></i> Anterior
                  </button>

                  <button class="btn btn-outline-primary" (click)="siguienteFoto()">
                    Siguiente <i class="fas fa-arrow-right ms-1"></i>
                  </button>

                  <div class="container text-center mt-4">
                    <div class="row justify-content-center">
                      <div class="col-2">
                        <i class="fab fa-java fa-sm"></i><br>
                      </div>



                      <div class="col-2">
                        <i class="fas fa-database fa-sm"></i><br>
                      </div>
                      <div class="col-2">
                        <i class="fab fa-angular fa-sm"></i><br>
                      </div>
                      <div class="col-2">
                        <i class="fas fa-leaf fa-sm"></i><br>
                      </div>
                      <div class="row justify-content-center">

                        <div class="col-2 " style="width: 100px;">
                          <i class="fab fa-bootstrap fa-sm"></i><br>
                        </div>
                      </div>
                    </div>
                  </div>




                </div>
              </div>

            </div>


          </div>



          <div class="alert alert-info d-flex align-items-center" role="alert">
            <i class="fas fa-spinner fa-spin me-2"></i>
            <strong> Este portafolio está en constante evolución. Pronto se sumarán nuevos proyectos</strong>
          </div>

        </div>

      </div>

    </div>


    <!--Educacion -->


    <div class="container" id="educacion" style="  padding-top: 50px;
  margin-top: 50px;">
      <div class="text-center ">
        <h2 class="mono-title mb-4">Educacion</h2>

      </div>
      <div class="card  p-4  bg-dark text-light card-brillante " style=" width: 100%;">
        <div class="container my-4">
          <div class="row justify-content-center">
            <div class="col-12 col-md-10">
              <div class="d-flex flex-wrap align-items-center gap-3">
                <!-- Escudo -->
                <div>
                  <img src="Logo/LogoUni.png" alt="Escudo Santiago Mariño" style="width: 100px;" class="img-fluid">
                </div>



                <!-- Texto institucional -->
                <div class="flex-grow-1">
                  <p class="font-cinzel text-light fs-4 mb-0">Instituto Universitario Politécnico Santiago Mariño</p>
                  <p class="font-cinzel text-secondary fs-5 mb-0">Ingeniería de Sistemas</p>
                  <p class="font-cinzel text-secondary fs-5">egresado:2025-1</p>
                </div>
              </div>

              <!--certificado -->


            </div>
          </div>
        </div>



      </div>

    </div>



    <div class="container" id="certificados" style="  padding-top: 50px;
  margin-top: 50px;">
      <div class="text-center ">
        <h2 class="mono-title mb-4">certificados</h2>

      </div>
      <div class="card  p-4  bg-dark text-light card-brillante " style=" width: 100%;">
        <div class="container my-4">
          <div class="row justify-content-center">
            <div class="col-12 col-md-10">
              <div class="d-flex flex-wrap align-items-center gap-3">
                <!-- Escudo -->
                <div>
                  <img src="Logo/udemy.svg.png" alt="logo de udemy" style="width: 100px;" class="img-fluid">
                </div>



                <!-- Texto institucional -->
                <div class="flex-grow-1">
                  <p class="font-cinzel text-light fs-4 mb-0">JavaScript TOTAL - De Cero a Programador Web en 18 Días
                  </p>
                  <p class="font-cinzel text-secondary fs-5 mb-0">Udemy</p>
                  <p class="font-cinzel text-secondary fs-5">Expedición: oct. 2025</p>
                  <p class="font-cinzel text-secondary fs-5"><a
                      href="https://ude.my/UC-aa551cb3-2768-4304-bb1c-df8e502fb304" target="_blank"
                      class="btn btn-outline-primary btn-lg rounded-pill shadow-sm font-cinzel">Url del certificado</a>
                  </p>



                </div>

              </div>

              <!--certificado -->
              <div class="d-flex flex-wrap align-items-center gap-3">
                <!-- Escudo -->
                <div>
                  <img src="Logo/udemy.svg.png" alt="logo de udemy" style="width: 100px;" class="img-fluid">
                </div>



                <!-- Texto institucional -->
                <div class="flex-grow-1">
                  <p class="font-cinzel text-light fs-4 mb-0">Curso de Inglés para HispanosNivel A2/B1.1 garantizado
                  </p>
                  <p class="font-cinzel text-secondary fs-5 mb-0">Udemy</p>
                  <p class="font-cinzel text-secondary fs-5">Expedición: 6 de Abril de 2024</p>
                  <p class="font-cinzel text-secondary fs-5"><a
                      href="https://ude.my/UC-743ca222-b4c6-4a3b-bb7b-be072bd5990e" target="_blank"
                      class="btn btn-outline-primary btn-lg rounded-pill shadow-sm font-cinzel">Url del certificado</a>
                  </p>

                </div>

              </div>

            </div>
          </div>
        </div>



      </div>

    </div>

  </div>
  <button class="btn btn-outline-success position-fixed bottom-0 end-0 m-3 shadow rounded-pill"
    style="width: 10%; height: 5%;" (click)="scrollToTop()">
    <i class="fas fa-arrow-up"></i>


  </button>







  <div id="contacto"></div>
</body>