  <div class="container" id="certificados" style="  padding-top: 50px;
  margin-top: 50px;">
    <div class="text-center ">
      <h2 class="mono-title mb-4">certificados</h2>

    </div>
    <div class="card  p-4  bg-dark text-light card-brillante " style=" width: 100%;">
      <div class="container my-4">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10">




            @for(certificado of certficados; track $index){


                  <div class="d-flex flex-wrap align-items-center  gap-3">

              <!-- Texto institucional -->
              <div class="flex-grow-1">
                <div>
                  <img src="Logo/udemy.svg.png" alt="logo de udemy" style="width: 100px;" class="img-fluid">
                </div>
                <p class="font-cinzel text-light fs-4 mb-0">
                  {{certificado.nombre}}
                </p>
                <p class="font-cinzel text-secondary fs-5 mb-0">Udemy</p>
                <p class="font-cinzel text-secondary fs-5">{{certificado.fecha}}</p>

                <p class="font-cinzel text-secondary fs-5">
                  <a href={{certificado.url}} target="_blank"
                    class="btn btn-outline-primary btn-lg rounded-pill shadow-sm font-cinzel">
                    Url del certificado
                  </a>
                </p>
              </div>

              <!-- Miniatura (Usando el logo de Udemy como en el formato original) -->
              <img src={{certificado.image}} class="img-thumbnail" style="width:150px;cursor:pointer"
                data-bs-toggle="modal" data-bs-target="#modalJS" />

              <!-- Modal -->
              <div class="modal fade bg-dark" id="modalJS" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                  <div class="modal-content bg-dark text-light border-0 shadow-lg">
                    <!-- Encabezado con la X -->
                    <div class="modal-header text-light">
                      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Cerrar"></button>
                    </div>
                    <!-- Cuerpo con la imagen -->
                    <div class="modal-body text-center bg-dark text-light">
                      <img src={{certificado.image}} class="img-fluid rounded" />
                    </div>
                  </div>
                </div>
              </div>

            </div>
              
            }
            <!--certificado 1 -->
        

    


          </div>
        </div>
      </div>



    </div>

  </div>