.titulo-brillante {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  animation: brillo 2s infinite;
  padding-left: 20px;
}

@keyframes brillo {
  0%, 100% { text-shadow: 0 0 10px rgb(4, 0, 255), 0 0 20px rgb(146, 177, 235); }
  50% { text-shadow: 0 0 5px rgb(30, 0, 255), 0 0 10px rgb(206, 235, 100); }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}


.custom-nav-link {
  font-weight: 600;
  color: #ffffff !important;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-nav-link:hover {
  background-color: #0d6efd;
  transform: scale(1.05);
}

.navbar-brand span {
  font-weight: bold;
  color: #ffffff;
}
