


<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm  text-light">
  <div class="container-fluid">
  <img src="img/ninja.png" style="height: 80px; width: 80px; margin-right: 8px;">
  <h1 class="titulo-brillante ">JJAS</h1>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">


   
   
    </div>
  </div>
</nav>
